
.login-form {
    position: absolute; /* Keeps the form positioned absolutely */
    top: 8px; /* Adjust the top distance as needed */
    right: 10px; /* Positions the form to the right */
    padding: 20px;
    border-radius: 8px;
    background-color: #f0f0f0; /* Change background color */
    /* Add any additional styling here */
}

.login-form input {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-family: 'Arial', sans-serif; /* Change font */
    /* Add any additional styling here */
}

.login-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #9900cc; /* Change button color */
    color: white;
    font-size: 16px;
    cursor: pointer;
    /* Add any additional styling here */
}

.login-form button:hover {
    background-color: #9900cc; /* Change button hover color */
}
